.h-screen{
    height:60vh
}
.w-300{
    width: 400px;
}

input{
    height: 40px;
    border: 2px solid gray;
    width: 100%;
    padding-left: 8px;
}

.card{
    border: 2px solid gray;
    box-shadow: 0 0 2px grey;
}
.text-2xl{
    font-size: 30px;
}
.text-xl{
    font-size: 25px;
}
.text-lg{
    font-size: 20px;
}
.text-md{
    font-size: 18px;
}
.primary-btn{
    background-color: rgb(202, 234, 234);
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
